document{
    width: 100%;
    margin: 0 auto;
    background-color: #FAFAFA;
}

.nav_top{
    height: 40px;
    line-height: 36px;
    background-color: #434343;
    padding-right: 5%;
    padding-left: 5%;
}
.nav_top_content{
    float: right;
    color: white;
    font-size: 18px;
}
.nav_top_content:hover .login{

}
.login_button{
	float: left;
	padding-right: 5px;
}
.nav_mid{
    height: 140px;
    background-color: orange;
    box-shadow: inset 0 4px rgba(0,0,0,.1),inset 0 1px rgba(255,255,255,.2);
}

.nav_mid > img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}

.nav_bottom{
    height: 50px;
    -webkit-box-shadow: inset 0 -1px rgba(0,0,0,.1),inset 0 1px rgba(255,255,255,.2);
    -moz-box-shadow: inset 0 -1px rgba(0,0,0,.1),inset 0 1px rgba(255,255,255,.2);
    -khtml-box-shadow: inset 0 -1px rgba(0,0,0,.1),inset 0 1px rgba(255,255,255,.2);
    border-color: rgb(217,217,217);
    background-color: #ed8106;
    box-shadow: inset 0 4px rgba(0,0,0,.1),inset 0 1px rgba(255,255,255,.2);
}
a.nav_board:hover{
	text-decoration: none;
	color: orange;
}
.nav_items{
    width: 80%;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
}
li.nav_board{
    float: left;
	display: inline;

}
ul.nav_board{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
a.nav_board{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
	white-space: nowrap;
	margin-right: 25px;
}

.body_wrapper{
    width: 80%;
    height: 700px;
    background-color: white;
    border: 0px solid #242424;
    float:left;
}
.widget{
    margin-top:0;
    width: 20%;
    height: 200px;
    background-color:white;
    float: right;

}

.body_wrapper, .widget{
    margin-top:15px;
    display:inline-block;
    border-radius: 6px;
}
.head{
    width:100%;
    box-shadow: 6px 0px 5px -5px #C1CDCD;
    background-color:orange;
    height:40px;
    display:inline-block;
    margin-top:0;
    border-radius: 6px 6px 0 0;

    color:white;
    line-height: 40px;
    text-indent: 10px;
    font-size: 20px;

}
.login{
	position: absolute;
    display: none;
    background-color: #434343;
    height: 200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.shadow{
    box-shadow: 6px 7px 5px -5px #C1CDCD, -6px 7px 5px -5px #C1CDCD;
}
.login_form{
   display: table-cell;
   text-align: center;
   vertical-align: middle;
   width: 500px;
}
.right{
    float:right;
    display: inline-block;
}
.left{
    float:left;
    display:inline-block;
}
input{
	display: inline-block;
    padding: 5px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}
input[type="submit"]{
    width: 93px;
}
#subNav{
	width: 100%;
	height: 50px;
	background-color: rgb(240,240,240);
	border: 1px solid rgb(204,204,204);
}
.fixed {
	position: fixed;
	bottom: 0;
	float: right !important;
	width: 400px !important;
	margin-left: 50% !important;
}
.votingFloatPanel{
height: 50px;
width: 250px;
background-color: grey;
z-index: 9999;
}